/* up and down buttom */
.UDAside #up {
  background-color: rgba(230, 165, 250, 0.3);
  position: fixed;
  right: 20px;
  bottom: 85px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.UDAside #up:hover {
  background-color: rgb(160, 2, 252);
}

.UDAside #down {
  background-color: rgba(129, 192, 242, 0.3);
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.UDAside #down:hover {
  background-color: rgb(45, 150, 233);
}

@media only screen and (max-width: 900px) {
  .UDAside #up {
    right: 15px;
    bottom: 65px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .UDAside #down {
    right: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .UDAside #up {
    right: 15px;
    bottom: 65px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .UDAside #down {
    right: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

/* .notion-aside-table-of-contents {
  display: flex;

  flex-direction: column;

  align-items: center;

  max-height: calc(100vh - 148px - 16px);

  min-width: 222px;

  overflow: auto;

  background: var(--bg-color);

  border-radius: 4px;

} */
/* 
.notion-aside {
  position: -webkit-sticky;
  position: sticky;
  top: 148px;
  z-index: 101;
  align-self: flex-start;
  flex: 1 1;
  display: none;
  flex-direction: column;
  align-items: center;
}

/* TableOfContents */

.TableOfContents {

  display: flow-root list-item;
  position: fixed;

  top: 52%;
  left: 0;
  margin: 4px 0;
  padding-left: 20px;
  border-radius: 4px;
  z-index: 1000;
  max-height: 45vh;
  overflow-y: auto;

}

.TableOfContents__Item {
  /* 目录的项目 */
  list-style-type: none;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}


.TableOfContents__Item:hover {
  background: var(--color-ui-hover-bg);
  border-radius: 4px;
}

.TableOfContents__Item>a {
  color: inherit;
  text-decoration: none;
}

.TableOfContents__Item>a>div {
  padding: 4.5px 2px;
}

.TableOfContents__Item .SemanticStringArray {
  border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}

.TableOfContents__Item .SemanticStringArray :active {
  color: var(--select-color-0) !important;
  /* transition: color 1s;` */
  /* background: rgba(55, 53, 47, 0.16); */
}

/* 自定义滚动条样式 */
.TableOfContents::-webkit-scrollbar {
  width: 4px;
}

.TableOfContents::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

.TableOfContents::-webkit-scrollbar-thumb {
  background: #66ccff;
  border-radius: 5px;
}

.TableOfContents::-webkit-scrollbar-thumb:hover {
  background: #3399cc;
}

.utterances {
  width: 85%;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 96px;
  height: 269px;
}

.utterances {
  margin-top: 5rem;
}

.utterances-frame {
  position: static;
}